<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="BrandsCategoriesProducts">
                    <match url="^(Attributes|ArticleImages|Brands|Categories|Products|ProductAttributes|ProductAttributeSkus|Photos|Documents|Agents|ScratchOffs)/([^/]*\.(gif|jpg|png|pdf|swf))$" />
                    <action type="Rewrite" url="/get.php?Folder={R:1}&amp;File={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
